services:
  - type: web
    name: telegram-bg-remover
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: HF_TOKEN
        sync: false
    healthCheckPath: /
